@page "/"

<div class="container">
    <div class="row">
        <div class="col-8">
            <span class="eventgrid-viewer-blazor-title"><img src="images/eventgrid.png" height="47" width="90" alt="Azure Event Grid">EventGrid Viewer <i>Blazor</i></span>
        </div>
        <div class="col-4">
            <span role="button" title="Clear Screen"><i class="fa fa-trash fa-3x eventgrid-viewer-blazor-button" aria-hidden="true" @onclick="RemoveAll"></i></span>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5" />

<div class="accordion">
    @foreach (var model in Models)
    {
        <div class="card" @key="@model.EventGridViewerEventId">
            <div class="card-header" data-bs-toggle="collapse" href="#collapse_@model.EventGridViewerEventId">
                <a>@model.EventType - @model.Subject</a>
            </div>
            <div>
                <div class="collapse" id="collapse_@model.EventGridViewerEventId">
                    <div class="card-body">
                        <p><pre><code class="language-json">@model.Data</code></pre></p>
                        <span role="button" title="Copy Data"><i class="fa fa-copy fa-3x eventgrid-viewer-blazor-button" aria-hidden="true" @onclick="@(() => onCopyClick(model.Data))"></i></span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>